<template>
    <CChartLine
        :datasets="defaultDatasets"
        :options="defaultOptions"
        :labels="labels"
    />
</template>

<script>
import { CChartLine } from "@coreui/vue-chartjs";
import { getStyle, hexToRgba } from "@coreui/utils/src";

export default {
    name: "MainChartExample",
    props: ["dateFrom", "dateTo"],
    components: {
        CChartLine
    },
    data: function() {
        return {
            appealsData: [],
            labels: []
        };
    },
    created() {
        this.fetchData();
    },
    methods: {
        fetchData() {
            const urlDashboard =
                this.dateFrom && this.dateTo
                    ? "/" + this.dateFrom + "/" + this.dateTo
                    : this.dateFrom && !this.dateTo
                    ? "/" + this.dateFrom
                    : "";
            axios
                .get("/api/suroo/stats/appeals" + urlDashboard)
                .then(response => {
                    if (response.data) {
                        this.appealsData = response.data;
                        this.defaultDatasets();
                    }
                });
        }
    },
    watch: {
        dateFrom: function(newVal, oldVal) {
            this.fetchData();
        },
        dateTo: function(newVal, oldVal) {
            this.fetchData();
        }
    },
    computed: {
        defaultDatasets() {
            const brandSuccess = getStyle("success2") || "#4dbd74";
            const brandInfo = getStyle("info") || "#20a8d8";
            const brandDanger = getStyle("danger") || "#f9b115";

            const data1 = [];
            const data2 = [];
            const data3 = [];
            this.appealsData.map(item => {
                this.labels.push(new Date(item.timestamp).getDate);
                data1.push(item.answers);
                data2.push(item.newUsers);
                data3.push(item.appeals);
            });
            return [
                {
                    label: "Ответы",
                    backgroundColor: hexToRgba(brandInfo, 10),
                    borderColor: brandInfo,
                    pointHoverBackgroundColor: brandInfo,
                    borderWidth: 2,
                    data: data1
                },
                {
                    label: "Новые пользователи",
                    backgroundColor: "transparent",
                    borderColor: brandSuccess,
                    pointHoverBackgroundColor: brandSuccess,
                    borderWidth: 2,
                    data: data2
                },
                {
                    label: "Заявки",
                    backgroundColor: "transparent",
                    borderColor: brandDanger,
                    pointHoverBackgroundColor: brandDanger,
                    borderWidth: 1,
                    borderDash: [8, 5],
                    data: data3
                }
            ];
        },
        defaultOptions() {
            return {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [
                        {
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }
                    ],
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true,
                                maxTicksLimit: 5,
                                stepSize: Math.ceil(250 / 5),
                                max: 250
                            },
                            gridLines: {
                                display: true
                            }
                        }
                    ]
                },
                elements: {
                    point: {
                        radius: 0,
                        hitRadius: 10,
                        hoverRadius: 4,
                        hoverBorderWidth: 3
                    }
                }
            };
        }
    }
};
</script>
