<template>
  <div class="locale-changer">
    <select v-model="$i18n.locale" @change="onChange">
      <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">
        {{ lang }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'Lang',
  data () {
    return { langs: ['ru', 'kg'] }
  },
  methods: {
    onChange(evt) {
      localStorage.setItem('locale', evt.target.value);
    }
  }
}
</script>
