<template>
    <div>
        <section class="my-5 py-5" style="min-height: 75vh;max-width: 980px; margin: 0 auto; padding: 15px 20px;">
<h2 style="font-weight: 400;">Пользовательское Соглашение</h2>
<p style="font-weight: 400;">Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между ГП &laquo;Центр электронного взаимодействия &laquo;ТҮНДҮК&raquo; (далее Портал Электронных Сообщений или Администрация) с одной стороны и пользователем сайта с другой.<br />Сайт Портал Электронных Сообщений не является средством массовой информации.<br /><br />Используя сайт, Вы соглашаетесь с условиями данного соглашения.<br /><strong>Если Вы не согласны с условиями данного соглашения, не используйте сайт Портал Электронных Сообщений!</strong><br /><br />Предмет соглашения</p>
<p style="font-weight: 400;"><strong>Администрация предоставляет пользователю право на размещение на сайте следующей информации:</strong><br />- Текстовой информации<br />- Аудиоматериалов<br />- Видеоматериалов<br />- Фотоматериалов<br />- Ссылок на материалы, размещенные на других сайтах<br /><br />Права и обязанности сторон</p>
<p style="font-weight: 400;"><strong>Пользователь имеет право:</strong><br />- получать информацию на сайте<br />- создавать информацию для сайта<br />- использовать информацию сайта в личных некоммерческих целях<br /><br /><strong>Администрация имеет право:</strong><br /><br /><strong>Пользователь обязуется:</strong><br />- обеспечить достоверность предоставляемой информации<br />- обеспечивать сохранность личных данных от доступа третьих лиц<br />- не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность<br />- не нарушать работоспособность сайта<br />- не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами<br /><br /><strong>Администрация обязуется:</strong><br />- поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.<br />- предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом<br /><br /><strong>Ответственность сторон</strong></p>
<p style="font-weight: 400;">- администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг<br />- администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br />- в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса<br /><br /><strong>Условия действия Соглашения</strong></p>
<p style="font-weight: 400;">Данное Соглашение вступает в силу при регистрации на сайте.<br />Соглашение перестает действовать при появлении его новой версии.<br />Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.<br />Администрация не оповещает пользователей об изменении в Соглашении.<br /><br /></p>
<p style="font-weight: 400;">&nbsp;</p>
        </section>
    </div>
</template>

<script>
import LayoutDefault from "../layouts/LayoutDefault.vue";

export default {
    name: "privacy-component",
    created() {
        this.$emit("update:layout", LayoutDefault);
    },
};
</script>
