<template>
    <div>
        <section class="my-5 py-5" style="min-height: 75vh; max-width: 980px; margin: 0 auto; padding: 10px 15px;">
<h2 style="font-weight: 400;">Политика в отношении обработки персональных данных</h2>
<ol>
<li style="font-weight: 400;">Общие положения</li>
</ol>
<p style="font-weight: 400;">Настоящая политика обработки персональных данных составлена в соответствии с требованиями закона от 14 апреля 2008 года №58 &laquo;Об информации персонального характера&raquo; и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые&nbsp;Государственным Предприятием &laquo;Центр электронного взаимодействия &laquo;ТҮНДҮК&raquo; при ГКИТиС КР&nbsp;(далее &ndash; Оператор).</p>
<p style="font-weight: 400;">1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</p>
<p style="font-weight: 400;">1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее &ndash; Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта&nbsp;http://kattar.tunduk.kg.</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol start="2">
<li style="font-weight: 400;">Основные понятия, используемые в Политике</li>
</ol>
<p style="font-weight: 400;">2.1. Автоматизированная обработка персональных данных &ndash; обработка персональных данных с помощью средств вычислительной техники;</p>
<p style="font-weight: 400;">2.2. Блокирование персональных данных &ndash; временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);</p>
<p style="font-weight: 400;">2.3. Веб-сайт &ndash; совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу&nbsp;http://kattar.tunduk.kg;</p>
<p style="font-weight: 400;">2.4. Информационная система персональных данных &mdash; совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;</p>
<p style="font-weight: 400;">2.5. Обезличивание персональных данных &mdash; действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;</p>
<p style="font-weight: 400;">2.6. Обработка персональных данных &ndash; любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;</p>
<p style="font-weight: 400;">2.7. Оператор &ndash; государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;</p>
<p style="font-weight: 400;">2.8. Персональные данные &ndash; любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта&nbsp;http://kattar.tunduk.kg;</p>
<p style="font-weight: 400;">2.9. Пользователь &ndash; любой посетитель веб-сайта&nbsp;http://kattar.tunduk.kg;</p>
<p style="font-weight: 400;">2.10. Предоставление персональных данных &ndash; действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;</p>
<p style="font-weight: 400;">2.11. Распространение персональных данных &ndash; любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;</p>
<p style="font-weight: 400;">2.12. Уничтожение персональных данных &ndash; любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) уничтожаются материальные носители персональных данных.</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol start="3">
<li style="font-weight: 400;">Оператор может обрабатывать следующие персональные данные Пользователя</li>
</ol>
<p style="font-weight: 400;">3.1.&nbsp;Фамилия, имя, отчество;</p>
<p style="font-weight: 400;">3.2.&nbsp;Электронный адрес;</p>
<p style="font-weight: 400;">3.3.&nbsp;Номера телефонов;</p>
<p style="font-weight: 400;">3.4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов &laquo;cookie&raquo;) с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).</p>
<p style="font-weight: 400;">3.5. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol start="4">
<li style="font-weight: 400;">Цели обработки персональных данных</li>
</ol>
<p style="font-weight: 400;">4.1. Цель обработки персональных данных Пользователя &mdash;&nbsp;информирование Пользователя посредством отправки электронных писем.</p>
<p style="font-weight: 400;">4.2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты&nbsp;office@tunduk.gov.kg&nbsp;с пометкой &laquo;Отказ от уведомлений о новых продуктах и услугах и специальных предложениях&raquo;.</p>
<p style="font-weight: 400;">4.3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol start="5">
<li style="font-weight: 400;">Правовые основания обработки персональных данных</li>
</ol>
<p style="font-weight: 400;">5.1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте&nbsp;http://kattar.tunduk.kg. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.</p>
<p style="font-weight: 400;">5.2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов &laquo;cookie&raquo; и использование технологии JavaScript).</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol start="6">
<li style="font-weight: 400;">Порядок сбора, хранения, передачи и других видов обработки персональных данных</li>
</ol>
<p style="font-weight: 400;">Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</p>
<p style="font-weight: 400;">6.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</p>
<p style="font-weight: 400;">6.2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.</p>
<p style="font-weight: 400;">6.3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора&nbsp;office@tunduk.gov.kg&nbsp;с пометкой &laquo;Актуализация персональных данных&raquo;.</p>
<p style="font-weight: 400;">6.4. Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора&nbsp;office@tunduk.gov.kg&nbsp;с пометкой &laquo;Отзыв согласия на обработку персональных данных&raquo;.</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol start="7">
<li style="font-weight: 400;">Трансграничная передача персональных данных</li>
</ol>
<p style="font-weight: 400;">7.1. Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.</p>
<p style="font-weight: 400;">7.2. Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.</p>
<p style="font-weight: 400;">&nbsp;</p>
<ol start="8">
<li style="font-weight: 400;">Заключительные положения</li>
</ol>
<p style="font-weight: 400;">8.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты&nbsp;office@tunduk.gov.kg.</p>
<p style="font-weight: 400;">8.2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.</p>
<p style="font-weight: 400;">8.3. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу&nbsp;http://kattar.tunduk.kg/privaсy.</p>
<p style="font-weight: 400;">&nbsp;</p>
        </section>
    </div>
</template>

<script>
import LayoutDefault from "../layouts/LayoutDefault.vue";

export default {
    name: "privacy-component",
    created() {
        this.$emit("update:layout", LayoutDefault);
    },
};
</script>
