<template>
    <div class="App">
        <b-navbar toggleable="lg" variant="transparent" class="navbar-custom">
            <b-container >
                <b-navbar-brand href="/" class="text-primary" @click.prevent="goTo('/')">
                    <img src="/images/tunduk-logo.png" class="brand-logo" id="logo" />
                </b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav class="ml-auto nav-white">
                        <b-nav-item href="/list" @click.prevent="authUser()"
                            >{{ $t("menu.myRequests") }}</b-nav-item
                        >
                        <b-nav-item><a href="#section-send" @click.prevent="goToForm">{{ $t("menu.send") }}</a></b-nav-item>
                        <b-nav-item href="https://portal.tunduk.kg/site/introd_page">{{ $t("menu.loginSDS") }}</b-nav-item>
                        <b-nav-item href="#" @click="$bvModal.show('modal-howitworks')">{{ $t("menu.howItWorks") }}?</b-nav-item>
                        <b-nav-item href="#" v-if="userContact && userSession" @click="logout">({{ userContact}}) {{ $t("menu.logout") }}</b-nav-item>
                    </b-navbar-nav>
                </b-collapse>
                <div class="lang-switcher">
                    <Lang />
                </div>
            </b-container>
        </b-navbar>

        <router-view></router-view>
        <footer>
            <b-container class="pt-5">
                <h2 class="display-5 font-weight-bold text-center mb-3">
                   {{ $t('footer.signup') }}
                </h2>
                <b-form class="pt-3" @submit.stop.prevent="onSubmit">
                    <b-row class="justify-content-md-center">
                        <b-col md="6" sm="8">
                            <b-input-group>
                                <b-form-input
                                    type="email"
                                    class="email"
                                    autocomplete="off"
                                    :placeholder="$t('footer.enterEmail')"
                                    :state="validateState('email')"
                                    v-model="$v.form.email.$model"
                                    aria-describedby="input-email-feedback"
                                ></b-form-input>
                                <b-input-group-append>
                                    <div>
                                        <button
                                            class="btn-with-out-style"
                                            type="submit"
                                        >
                                            <font-awesome-icon
                                                icon="paper-plane"
                                            />
                                        </button>
                                    </div>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-form>

                <b-nav class="mt-4 text-white" align="center">
                    <b-nav-item href="/" @click.prevent="goTo('/')">{{ $t("menu.home") }}</b-nav-item>
                    <b-nav-item href="/list" @click.prevent="authUser()"
                        >{{ $t("menu.myRequests") }}</b-nav-item
                    >
                    <b-nav-item href="#section-send" @click.prevent="goToForm">{{ $t("menu.send") }}</b-nav-item>
                    <b-nav-item href="https://portal.tunduk.kg/site/introd_page">{{ $t("menu.loginSDS") }}</b-nav-item>
                </b-nav>

                <p class="text-center m-0 pb-2">
                    &copy; 2020 All rights reserved
                </p>
            </b-container>
        </footer>
        <modal-auth-component></modal-auth-component>
        <modal-validate-component></modal-validate-component>
        <modal-howitworks-component></modal-howitworks-component>
        <notifications group="notify" position="bottom right" />
    </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";
import { mapActions, mapState } from 'vuex';
import Lang from "../Lang";

export default {
    components: {
        Lang
    },
    data() {
        return {
            form: {
                email: null
            }
        };
    },
    validations: {
        form: {
            email: {
                required,
                email
            }
        }
    },
    methods: {
        ...mapActions(['logout']),
        onSubmit(evt) {
            this.$v.form.$touch();
            if (this.$v.form.$anyError) {
                return;
            }
        },
        validateState(name) {
            const { $dirty, $error } = this.$v.form[name];
            return $dirty ? !$error : null;
        },
    },
    computed: {
        ...mapState(['userContact', 'userSession']),
    }
};
</script>

<style>
.lang-switcher {
    position: absolute;
    top: 60px;
}
</style>
