<template>
    <div>
        <section class="my-5 py-5" style="min-height: 75vh;">
            <b-container v-if="openedMessage">
                <b-card
                    :title="msg.theme"
                    header-tag="header" footer-tag="footer">
                    <template #header>
                        <b-button variant="outline-primary" small class="float-right" @click="closeMessage">
                            {{ $t('list.reply.close') }}
                            <b-icon-x-circle-fill>close</b-icon-x-circle-fill>
                        </b-button>
                        <h6 class="mb-0">{{ msgTitle }}</h6>
                    </template>
                    <b-card-text>
                        <b-badge variant="info" class="float-right">{{ getStatus(msg.status) }}</b-badge>
                        {{ msg.message }}
                        <hr />
                        <h6>{{ reply.outboxDocumentTitle }}</h6>
                        <ul>
                            <li>{{ $t('list.reply.registered') }}: {{ reply.registrationNumber }} {{ reply.registrationDate }}</li>
                            <li>{{ $t('list.reply.replied') }}: {{ reply.outboxDocumentNumber }} {{ reply.outboxDocumentDate }}</li>
                            <li>{{ $t('list.reply.signed') }}: {{ reply.signedDate }} {{ reply.signerName }}</li>
                        </ul>
                        <b-button
                            block
                            variant="primary"
                            v-if="reply.answerFilePath"
                            :href="reply.answerFilePath"
                            target="_blank"
                        >
                            <b-icon-download />
                            {{ $t('list.reply.download') }}
                        </b-button>
                    </b-card-text>
                </b-card>
            </b-container>
            <b-container v-else>
                <div>
                    <b-button :variant="status === 'all' ? 'primary' : 'outline-primary'" @click="status='all'">{{ $t('list.statuses.all') }}</b-button>
                    <b-button :variant="status === 1 ? 'primary' : 'outline-primary'" @click="status=1">{{ $t('list.statuses.delivered') }}</b-button>
                    <b-button :variant="status === 2 ? 'primary' : 'outline-primary'" @click="status=2"
                        >{{ $t('list.statuses.processing') }}</b-button
                    >
                    <!-- <b-button :variant="status === 2 ? 'primary' : 'outline-primary'">На исполнении</b-button> -->
                    <b-button :variant="status === 3 ? 'primary' : 'outline-primary'" @click="status=3">{{ $t('list.statuses.done') }}</b-button>
                </div>
                <b-table
                    class="my-5"
                    :striped="true"
                    :bordered="false"
                    :borderless="true"
                    :outlined="false"
                    :responsive="true"
                    :items="themes"
                    :fields="fields"
                    :head-variant="'dark'"
                    :table-variant="'light'"
                    show-empty
                    :empty-text="status === 'all' ? $t('list.noMessages') : $t('list.noStatusMessages')"
                >
                    <template v-slot:cell(index)="data">
                        <small>
                        {{ data.index + 1 }}
                        </small>
                    </template>
                    <template v-slot:cell(date)="data">
                        <small>
                            {{ formatIsoDate(data.item.logDate) }}
                        </small>
                    </template>
                    <template v-slot:cell(category)="data">
                        <small>{{ category(data.item.sedType) }}</small>
                    </template>
                    <template v-slot:cell(theme)="data">
                        <b-button
                            variant="link"
                            class="text-left"
                            @click="openMessage(data.item)"
                        >
                            {{ data.item.theme }}</b-button
                        >
                    </template>
                    <template v-slot:cell(receiver)="data">
                        <small>{{ data.item.department.name }}</small>
                    </template>
                   <template v-slot:cell(status)="data">
                       <small>
                        {{ getStatus(data.item.status) }}
                       </small>
                    </template>
                </b-table>
            </b-container>
        </section>
        <b-button @click="allAnswers" variant="outlined-white">.</b-button>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import { BIconXCircleFill, BIconDownload, BBadge } from 'bootstrap-vue'
import LayoutDefault from "../../layouts/LayoutDefault.vue";

export default {
    name: "list-request-component",
    components: {
        BIconXCircleFill,
        BIconDownload,
        BBadge,
    },
    data: function() {
        return {
            status: 'all',
            fields: [
                { key: "index", label: "№" },
                { key: "date", label: this.$t('list.datetime') },
                { key: "category", label: this.$t('list.category') },
                { key: "theme", label: this.$t('list.theme') },
                { key: "receiver", label: this.$t('list.receiver') },
                { key: "status", label: this.$t('list.status') },
            ]
        };
    },
    created() {
        this.$emit("update:layout", LayoutDefault);
        this.$store.dispatch("userThemes").then(res => {
            console.log('userthemes: ', res);
        }).catch(err => {
            console.error('userthemes err', err);
        });
    },
    mounted() {
        this.$nextTick(() => {
            if (!this.$store.getters.authorized) {
                this.goTo('/')
            }
        });
    },
    methods: {
        ...mapActions(['userMessage', 'closeMessage', 'allAnswers']),
        openMessage(msg) {
            this.userMessage({ msg });
        },
        getStatus(str) {
            const status = Number(str);
            switch (status) {
                case 1:
                    return this.$t("list.statuses.delivered").toLowerCase();
                case 2:
                    return this.$t("list.statuses.processingAlt");
                case 3:
                    return this.$t("list.statuses.doneAlt");
                default:
                    return this.$t("list.statuses.pending");
            }
        },
        category(sedID) {
            const types = [
                this.$t("types.request"),
                this.$t("types.offer"),
                this.$t("types.appeal")
            ]
            return types[sedID];
        },
        formatIsoDate(isoDate) {
            const date = new Date(isoDate);
            const year = date.getFullYear();
            let month = date.getMonth()+1;
            let dt = date.getDate();
            let hour = date.getHours();
            let minute = date.getMinutes();

            if (dt < 10) dt = '0' + dt;
            if (month < 10) month = '0' + month;
            if (hour < 10) hour = '0' + hour;
            if (minute < 10) minute = '0' + minute;

            return `${dt}/${month}/${year}-${hour}:${minute}`;
        }
    },
    watch: {
        authorized(val) {
            if (!val) this.goTo('/');
        }
    },
    computed: {
        ...mapState(['openedMessage']),
        ...mapGetters(['authorized']),
        msg() {
            if (this.openedMessage) {
                return {
                    ...this.openedMessage.msg,
                    ...this.openedMessage.data,
                };
            }
            return {};
        },
        reply() {
            if (this.openedMessage && this.openedMessage.data) {
                return this.openedMessage.data.answer || {};
            }
            return {};
        },
        msgTitle() {
            return `${this.category(this.msg.sedType)} в ${this.msg.department.name}`;
        },
        themes() {
            return this.status === 'all'
            ? this.$store.state.themeList
            : this.$store.state.themeList.filter(t => t.status === this.status);
        }
    }
};
</script>
