<template>
    <div>
        <CCard>
            <CCardHeader>
                Гос. органы
            </CCardHeader>
            <CCardBody>
                <CDataTable
                    :hover="true"
                    :striped="true"
                    :border="true"
                    :items="items"
                    :fields="fields"
                >
                    <template #avgResponseTime="{item}">
                        <td>
                            {{ getHumanize(item) }}
                        </td>
                    </template>
                </CDataTable>
                <div>
                    <CPagination
                        :activePage.sync="page"
                        :pages="50"
                        @update:activePage="pushUrl"
                    />
                </div>
            </CCardBody>
        </CCard>
    </div>
</template>

<script>
import moment from "moment";
import format from "moment-duration-format";

export default {
    name: "Goverments",
    props: {
        items: Array,
        fields: {
            type: Array,
            default() {
                return [
                    { key: "name", label: "Название" },
                    { key: "lastAnswerDate", label: "Последний ответ" },
                    { key: "avgRating", label: "Рейтинг" },
                    { key: "avgResponseTime", label: "Среднее время отета" }
                ];
            }
        }
    },
    created() {
        this.fetchData();
    },
    data() {
        return {
            page: 1,
            offset: 0,
            limit: 50
        };
    },
    methods: {
        fetchData() {
            this.limit = this.$route.query.limit
                ? this.$route.query.limit
                : this.limit;
            this.offset = this.$route.query.offset
                ? this.$route.query.offset
                : this.offset;

            this.isLoading = !this.isFirstLoad;
            axios
                .get(
                    `/api/suroo/stats/departments?limit=${this.limit}&offset=${this.offset}`
                )
                .then(response => {
                    console.log(response.data);
                    if (response.data) {
                        this.items = response.data ? response.data : null;
                    }
                });
        },
        pushUrl(page) {
            this.$router
                .push({
                    path: "/administrator/goverments",
                    query: {
                        limit: this.limit,
                        offset: parseInt(this.offset) + parseInt(page * this.limit)
                    }
                })
                .catch(err => {});
        },
        getHumanize(time) {
            return moment.duration(time).format("dд. hч. mмин.");
        }
    },
    watch: {
        $route: "fetchData"
    }
};
</script>
