<template>
    <div class="c-app flex-row align-items-center">
        <CContainer>
            <CRow class="justify-content-center">
                <CCol md="5">
                    <CCardGroup>
                        <CCard class="p-4">
                            <CCardBody>
                                <CForm
                                    id="auth-form"
                                    @submit.prevent="handleSubmit"
                                >
                                    <h1 style="padding-bottom: 15px">
                                        Авторизация
                                    </h1>
                                    <CInput
                                        placeholder="Username"
                                        autocomplete="username email"
                                        invalid-feedback="Введите свой логин"
                                        :is-valid="validateState('username')"
                                        v-model="$v.form.username.$model"
                                    >
                                        <template #prepend-content
                                            ><CIcon name="cil-user"
                                        /></template>
                                    </CInput>
                                    <CInput
                                        placeholder="Password"
                                        type="password"
                                        v-model="$v.form.password.$model"
                                        autocomplete="curent-password"
                                        invalid-feedback="Введите свой пароль"
                                        :is-valid="validateState('password')"
                                    >
                                        <template #prepend-content
                                            ><CIcon name="cil-lock-locked"
                                        /></template>
                                    </CInput>
                                    <CRow>
                                        <CCol col="6" class="text-left">
                                            <CButton
                                                for="auth-form"
                                                color="primary"
                                                class="px-4"
                                                type="submit"
                                                >Войти</CButton
                                            >
                                        </CCol>
                                    </CRow>
                                </CForm>
                            </CCardBody>
                        </CCard>
                    </CCardGroup>
                </CCol>
            </CRow>
        </CContainer>
    </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
    name: "Login",
    data() {
        return {
            form: {
                username: null,
                password: null
            }
        };
    },
    validations: {
        form: {
            username: {
                required
            },
            password: {
                required
            }
        }
    },
    methods: {
        handleSubmit() {
            this.$v.form.$touch();
            if (this.$v.form.$anyError) {
                return;
            }
            this.$store.dispatch("auth", {
                username: this.form.username,
                password: this.form.password,
                self: this
            });
        },
        validateState(name) {
            const { $dirty, $error } = this.$v.form[name];
            return $dirty ? !$error : null;
        }
    }
};
</script>
