<template>
    <b-modal
        id="modal-auth"
        ref="modal"
        title="Авторизация"
        @show="resetModal"
        @hidden="hideModal"
        @ok="handleOk"
    >
        <b-form ref="form" @submit="onSubmit">
            <b-form-group
                label="Email или телефон"
                label-class="required"
                label-for="input-userContact"
                :state="userContactState"
            >
                <b-form-input
                    type="text"
                    :state="userContactState"
                    id="input-userContact"
                    name="userContact"
                    required
                    placeholder="Email или телефон"
                    autocomplete="on"
                    v-model="userContact"
                ></b-form-input>
            </b-form-group>
        </b-form>
        <div class="loader" v-if="loading && !error">
            <b-spinner small variant="secondary" label="Загрузка..."></b-spinner>
            <small :style="{ color: 'silver' }">Ожидается ответ сервера</small>
        </div>
        <div class="loader" v-else-if="error">
            <small :style="{ color: 'crimson' }">Ошибка ответа сервера</small>
        </div>
        <div v-else>&nbsp;</div>

        <template #modal-footer>
            <div class="w-100">
                <b-button
                    variant="primary"
                    size="sm"
                    type="submit"
                    @click="onSubmit"
                    class="float-right"
                >
                    Войти
                </b-button>
                <b-button
                    variant="light"
                    size="sm"
                    type="button"
                    @click="hideModal()"
                    class="float-right mr-1"
                >
                    Отмена
                </b-button>
            </div>
        </template>
    </b-modal>
</template>

<script>
export default {
    name: "modal-auth-component",
    data() {
        return {
            loading: false,
            error: false,
            userContact: null,
            userContactState: null
        };
    },
    methods: {
        checkFormValidity() {
            const valid = this.$refs.form.checkValidity();
            this.userContactState = valid;
            return valid;
        },
        resetModal() {
            this.name = "";
            this.error = false;
            this.userContactState = null;
        },
        handleOk(bvModalEvt) {
            bvModalEvt.preventDefault();
            this.handleSubmit();
        },
        onSubmit(e) {
            e.preventDefault();
            if (!this.checkFormValidity()) {
                return;
            }
            this.loading = true;
            this.error = false;
            this.$store.dispatch("userAuth", {
                userContact: this.userContact,
                self: this
            })
              .then(() => this.loading = false)
              .catch(e => {
                  this.loading = false;
                  this.error = true;
                  console.error('Auth error: ', e);
              });
        },
        hideModal() {
            this.$root.$emit('bv::hide::modal', 'modal-auth', '#btnShow')
            this.$nextTick(() => {
                if (this.$store.getters.authorized) {
                    this.authUser();
                }
            });
        }
    }
};
</script>

<style scoped>
.loader {
    float: right;
}
</style>
