<template>
    <b-modal
        id="modal-howitworks"
        title="Как это работает"
    >
        <p>
            Это работает очень просто, заполняете форму и ждете ответа
        </p>

        <template #modal-footer>
            <div class="w-100">
                <b-button
                    variant="light"
                    size="sm"
                    type="button"
                    @click="hideModal()"
                    class="float-right mr-1"
                >
                    Понятно
                </b-button>
            </div>
        </template>
    </b-modal>
</template>

<script>
export default {
    name: "modal-howitworks-component",
    methods: {
        hideModal() {
            this.$root.$emit('bv::hide::modal', 'modal-howitworks', '#btnShow')
        }
    }
};
</script>
