<template>
    <b-modal
        id="modal-validate"
        ref="modal"
        title="Validate"
        @show="resetModal"
        @hidden="resetModal"
        @ok="handleOk"
    >
        <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group
                label="Код потверждения с почты или смс"
                label-class="required"
                label-for="input-userCode"
                :state="userCodeState"
            >
                <b-form-input
                    type="text"
                    id="input-userCode"
                    :state="userCodeState"
                    name="userCode"
                    required
                    placeholder="Code"
                    autocomplete="off"
                    v-model="userCode"
                ></b-form-input>
            </b-form-group>
        </form>
        <b-button variant="link" v-if="!isSendNewCode" @click="sendNewCode()"
            >Выслать новый код</b-button
        >
    </b-modal>
</template>

<script>
export default {
    name: "modal-validate-component",
    data() {
        return {
            userCode: null,
            userCodeState: null,
            isSendNewCode: false
        };
    },
    methods: {
        checkFormValidity() {
            const valid = this.$refs.form.checkValidity();
            this.userCodeState = valid;
            return valid;
        },
        resetModal() {
            this.name = "";
            this.userCodeState = null;
        },
        handleOk(bvModalEvt) {
            bvModalEvt.preventDefault();
            this.handleSubmit();
        },
        handleSubmit() {
            if (!this.checkFormValidity()) {
                return;
            }
            this.$store.dispatch("sendVerifierCode", {
                userCode: this.userCode,
                self: this
            });
        },
        sendNewCode() {
            this.isSendNewCode = true;
            this.$store.dispatch("sendVerifierCodeNew");
            setTimeout(function() {
                this.isSendNewCode = false;
            }, 6000);
        }
    }
};
</script>
