<template>
    <CDropdown
        inNav
        class="c-header-nav-items"
        placement="bottom-end"
        add-menu-classes="pt-0"
    >
        <template #toggler>
            <CHeaderNavLink>
                <div class="c-avatar">
                    <CIcon name="cil-user" />
                </div>
            </CHeaderNavLink>
        </template>
        <CDropdownItem> <CIcon name="cil-lock-locked" /> Выход </CDropdownItem>
    </CDropdown>
</template>

<script>
export default {
    name: "TheHeaderDropdownAccnt"
};
</script>
