@import "../js/assets/scss/style";
@import "../../../node_modules/vue-toast-notification/src/themes/default/index.scss";

.c-chart-brand {
    position: absolute;
    width: 100%;
    height: 100px;
}
