<template>
    <div>
        <section class="first-section-bg">
            <b-container>
                <div>
                    <b-jumbotron bg-variant="transparent" class="px-0 first-section-body">
                        <h1
                            class="display-3 text-primary font-weight-bold lead-text"
                            :style="{ maxWidth: '300px' }"
                        >
                            {{ $t('headline.title') }}
                        </h1>

                        <p
                            :style="{ display: 'block', maxWidth: '450px' }"
                        >
                            {{ $t('headline.message') }}
                        </p>
                        <b-button variant="primary" href="#section-send" @click.prevent="goToForm">
                            {{ $t('headline.btn') }}
                        </b-button
                        >
                    </b-jumbotron>
                </div>
            </b-container>
        </section>
        <section>
            <b-container>
                <h2 class="display-5 font-weight-bold text-center py-5">
                    {{ $t('abilities.title') }}
                </h2>
                <b-row>
                    <b-col md="4" sm="12">
                        <b-card class="custom-card text-center">
                            <div
                                class="d-flex justify-content-center flex-column align-items-center"
                            >
                                <img class="icon" src="/images/Icon1.png" />
                                <h4>{{ $t('abilities.send') }}</h4>
                                <b-card-text>
                                    {{ $t('abilities.sendMsg') }}
                                </b-card-text>

                                <a href="#section-send" variant="primary" @click.prevent="goToForm">
                                    {{ $t('abilities.goto') }}
                                </a>
                            </div>
                        </b-card>
                    </b-col>
                    <b-col md="4" sm="12">
                        <b-card class="custom-card text-center active">
                            <div
                                class="d-flex justify-content-center flex-column align-items-center"
                            >
                                <img class="icon" src="/images/Icon2.png" />
                                <h4>{{ $t('abilities.checkStatus') }}</h4>
                                <b-card-text>
                                    {{ $t('abilities.checkStatusMsg') }}
                                </b-card-text>

                                <a href="/list" variant="primary" @click.prevent="authUser">
                                    {{ $t('abilities.goto') }}
                                </a>
                            </div>
                        </b-card>
                    </b-col>
                    <b-col md="4" sm="12">
                        <b-card class="custom-card text-center">
                            <div
                                class="d-flex justify-content-center flex-column align-items-center"
                            >
                                <img class="icon" src="/images/Icon3.png" />
                                <h4>{{ $t('abilities.sendSDS') }}</h4>
                                <b-card-text>
                                    {{ $t('abilities.sendSDSMsg') }}
                                </b-card-text>
                                 <a href="https://portal.tunduk.kg/site/introd_page">
                                    {{ $t('abilities.goto') }}
                                </a>
                            </div>
                        </b-card>
                    </b-col>
                </b-row>
            </b-container>
        </section>
        <section class="py-5 my-5" id="section-send" ref="section-send">
            <b-container>
                <h2 class="display-5 font-weight-bold my-3">
                    {{ $t('form.title') }}
                </h2>
                <b-row>
                    <b-col md="8" sm="12">
                        <b-form @submit.stop.prevent="onSubmit">
                            <b-row>
                                <b-col md="6" sm="12">
                                    <b-form-group
                                        :label="$t('form.fullName')"
                                        label-class="required"
                                        label-for="input-userBio"
                                    >
                                        <b-form-input
                                            type="text"
                                            id="input-userBio"
                                            name="userBio"
                                            :placeholder="$t('form.fullNameHint')"
                                            autocomplete="off"
                                            :state="validateState('userBio')"
                                            v-model="$v.form.userBio.$model"
                                            aria-describedby="input-userBio-feedback"
                                        ></b-form-input>
                                        <b-form-invalid-feedback
                                            id="input-userBio-feedback"
                                            >{{ $t('form.fullNameError') }}</b-form-invalid-feedback
                                        >
                                    </b-form-group>
                                </b-col>
                                <b-col md="6" sm="12">
                                    <b-form-group
                                        :label="$t('form.phoneOrEmail')"
                                        label-class="required"
                                        label-for="input-userContact"
                                    >
                                        <b-form-input
                                            type="text"
                                            name="userContact"
                                            id="input-userContact"
                                            autocomplete="off"
                                            :placeholder="$t('form.phoneOrEmailHint')"
                                            :state="
                                                validateState('userContact')
                                            "
                                            v-model="$v.form.userContact.$model"
                                            aria-describedby="input-userContact-feedback"
                                        ></b-form-input>
                                        <b-form-invalid-feedback
                                            id="input-userContact-feedback"
                                            >{{ $t('form.phoneOrEmailError') }}</b-form-invalid-feedback
                                        >
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-group
                                        :label="$t('form.stateService')"
                                        label-class="required"
                                        label-for="input-departmentId"
                                    >
                                        <v-select
                                            v-bind:class="
                                                invalidSelectDepartment
                                            "
                                            :options="goverments"
                                            :reduce="goverment => goverment.id"
                                            label="name"
                                            :placeholder="$t('form.stateServiceHint')"
                                            :state="
                                                validateState('departmentId')
                                            "
                                            v-model="
                                                $v.form.departmentId.$model
                                            "
                                            aria-describedby="input-departmentId-feedback"
                                        >
                                            <option :value="null" disabled
                                                >{{ $t('form.stateServiceHint') }}</option
                                            >
                                            <template
                                                #search="{attributes, events}"
                                            >
                                                <input
                                                    class="vs__search"
                                                    v-bind="attributes"
                                                    v-on="events"
                                                />
                                            </template>
                                        </v-select>
                                        <b-form-invalid-feedback
                                            id="input-departmentId-feedback"
                                            >{{ $t('form.stateServiceError') }}</b-form-invalid-feedback
                                        >
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-group
                                        :label="$t('form.requestType')"
                                        label-class="required"
                                        label-for="input-departmentId"
                                    >
                                        <v-select
                                            v-bind:class="invalidSelectType"
                                            :options="themeTypes"
                                            :reduce="type => type.id"
                                            label="name"
                                            :placeholder="$t('form.requestTypeHint')"
                                            :state="validateState('typeId')"
                                            v-model="$v.form.typeId.$model"
                                            aria-describedby="input-typeId-feedback"
                                        >
                                            <option :value="null" disabled
                                                >{{ $t('form.requestTypeHint') }}</option
                                            >
                                        </v-select>

                                        <b-form-invalid-feedback
                                            id="input-typeId-feedback"
                                            >{{ $t('form.requestTypeError') }}</b-form-invalid-feedback
                                        >
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-group
                                        :label="$t('form.requestTheme')"
                                        label-class="required"
                                        label-for="input-theme"
                                    >
                                        <b-form-input
                                            name="theme"
                                            id="input-theme"
                                            type="text"
                                            autocomplete="off"
                                            :placeholder="$t('form.requestThemeHint')"
                                            :state="validateState('theme')"
                                            v-model="$v.form.theme.$model"
                                            aria-describedby="input-theme-feedback"
                                        ></b-form-input>

                                        <b-form-invalid-feedback
                                            id="input-typeId-feedback"
                                            >{{ $t('form.requestThemeError') }}</b-form-invalid-feedback
                                        >
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-group
                                        :label="$t('form.requestMsg')"
                                        label-class="required"
                                        label-for="input-message"
                                    >
                                        <b-form-textarea
                                            name="message"
                                            id="input-message"
                                            :placeholder="$t('form.requestMsgHint')"
                                            rows="4"
                                            max-rows="6"
                                            style="overflow: hidden;"
                                            :state="validateState('message')"
                                            v-model="$v.form.message.$model"
                                            aria-describedby="input-message-feedback"
                                        ></b-form-textarea>
                                        <b-form-invalid-feedback
                                            id="input-message-feedback"
                                            >{{ $t('form.requestMsgError') }}</b-form-invalid-feedback
                                        >
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-file
                                        v-model="form.file"
                                        class="inputfile inputfile-3"
                                        plain
                                        id="input-file"
                                        accept="image/*"
                                    ></b-form-file>
                                    <label for="input-file"
                                        ><img
                                            src="/images/attach.png"
                                            alt="attach"
                                        />
                                        <span>{{
                                            form.file
                                                ? form.file.name
                                                : $t('form.attachFile')
                                        }}</span>
                                    </label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="6" sm="12" xs="12">
                                    <b-button type="submit" variant="primary"
                                        >{{ $t('form.send') }}</b-button
                                    >
                                </b-col>
                                <b-col md="6" sm="12" xs="12" class="social-row">
                                    <p>{{ $t('form.getSocialNotification') }}</p>
                                    <button
                                        class="btn-social"
                                        type="button"
                                        @click="authProvider('facebook')"
                                    >
                                        <img
                                            src="/images/facebook.png"
                                            alt="facebook"
                                        />
                                    </button>
                                    <button
                                        class="btn-social instagram"
                                        type="button"
                                        @click="authProvider('instagram')"
                                    >
                                        <img
                                            src="/images/instagram.png"
                                            alt="instagram"
                                        />
                                    </button>
                                    <button
                                        class="btn-social"
                                        type="button"
                                        @click="authProvider('twitter')"
                                    >
                                        <img
                                            src="/images/twitter.png"
                                            alt="twitter"
                                        />
                                    </button>
                                    <button
                                        class="btn-social"
                                        type="button"
                                        @click="authProvider('vkontakte')"
                                    >
                                        <img
                                            src="/images/vkontakte.png"
                                            alt="vkontakte"
                                        />
                                    </button>
                                </b-col>
                            </b-row>
                        </b-form>
                    </b-col>
                </b-row>
            </b-container>
        </section>
        <section
            class="bg-blue py-5 my-5 static-block d-flex align-items-center"
        >
            <b-container>
                <b-row bg-variable="blue">
                    <b-col md="6" sm="12">
                        <h4>{{ $t('stats.title') }}</h4>
                        <p>
                            {{ $t('stats.text') }}
                        </p>
                    </b-col>
                    <b-col md="6" sm="12">
                        <b-row class="mt-2">
                            <b-col class="stat-item" md="4" sm="6">
                                <p><strong>{{ statsReplied }}</strong></p>
                                <p>{{ $t('stats.responses') }}</p>
                            </b-col>
                            <b-col class="stat-item" md="4" sm="6">
                                <p><strong>{{ stats.msgCountAll || 0 }}</strong></p>
                                <p>{{ $t('stats.requests') }}</p>
                            </b-col>
                            <b-col class="stat-item" md="4" sm="6">
                                <p><strong>{{ statsAvgTime  }}</strong></p>
                                <p>{{ $t('stats.replyTime') }}</p>
                            </b-col>
                        </b-row>
                        <b-row class="mt-4">
                            <b-col class="stat-item" md="4" sm="6">
                                <p><strong>95%</strong></p>
                                <p>{{ $t('stats.satisfied') }}</p>
                            </b-col>
                            <b-col class="stat-item" md="4" sm="6">
                                <p><strong>{{ goverments.length || 0 }}</strong></p>
                                <p>{{ $t('stats.services') }}</p>
                            </b-col>
                            <b-col class="stat-item" md="4" sm="6">
                                <p><strong>{{ stats.citizensCount || 0 }}</strong></p>
                                <p>{{ $t('stats.users') }}</p>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
            </b-container>
        </section>
    </div>
</template>

<script>
import LayoutDefault from "../../layouts/LayoutDefault.vue";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import { mapState } from 'vuex';

export default {
    name: "home-component",
    data: function() {
        return {
            options: [],
            mixins: [validationMixin],
            form: {
                userBio: null,
                userContact: null,
                departmentId: null,
                theme: null,
                message: null,
                file: null,
                typeId: null
            },
            state: {
                userBio: null,
                userContact: null,
                departmentId: null,
                theme: null,
                message: null,
                file: null,
                typeId: null
            },
            formValidate: {
                userCode: null
            }
        };
    },
    validations: {
        form: {
            userBio: {
                required
            },
            userContact: {
                required
            },
            departmentId: {
                required
            },
            theme: {
                required
            },
            message: {
                required
            },
            typeId: {
                required
            }
        }
    },
    created() {
        this.$emit("update:layout", LayoutDefault);
    },
    mounted() {
        if (this.userSession && this.userContact) {
            this.$v.form.userContact.$model = this.userContact;
        }
    },
    watch: {
        userContact: {
            immediate: true,
            handler(val) {
                console.log('val', val, this.userSession);
                if (this.userSession && val) {
                } else {
                    this.$v.form.userContact.$model = null;
                }
            }
        }
    },
    methods: {
        authProvider(provider) {
            this.$auth
                .authenticate(provider)
                .then(response => {
                    this.socialLogin(provider, response);
                })
                .catch(err => {});
        },
        socialLogin(provider, response) {
            axio.post("/sociallogin/" + provider, response)
                .then(response => {
                    console.log(response.data);
                })
                .catch(err => {
                    console.log({ err: err });
                });
        },

        onSubmit(evt) {
            this.$v.form.$touch();
            if (this.$v.form.$anyError) {
                return;
            }
            this.$store.dispatch("sendMessage", {
                data: this.form,
                self: this
            });
        },
        validateState(name) {
            const { $dirty, $error } = this.$v.form[name];
            return $dirty ? !$error : null;
        }
    },
    computed: {
        ...mapState(['userContact', 'userSession', 'stats']),
        statsReplied() {
            if (!this.stats.msgCountAll || !this.stats.answersCountAll) return '-';
            return `${Math.round(this.stats.answersCountAll * 100 / this.stats.msgCountAll)}%`;

        },
        statsAvgTime() {
            const day = this.$i18n.locale === 'ru' ? 'дн.' : 'күн'
            return this.stats.avgAnswerTime
                ? `${Math.round(this.stats.avgAnswerTime / 1000 / 3600 / 24 * 100) / 100} ${day}`
                : '-'
        },
        goverments() {
            return this.$store.state.goverments;
        },
        themeTypes() {
            return this.$store.state.themeTypes;
        },
        invalidSelectType() {
            const data = {
                "style-chooser": true,
                "is-invalid":
                    this.$v.form.typeId.$error && this.$v.form.typeId.$dirty
            };
            return data;
        },
        invalidSelectDepartment() {
            const data = {
                "style-chooser": true,
                "is-invalid":
                    this.$v.form.departmentId.$error &&
                    this.$v.form.departmentId.$dirty
            };
            return data;
        }
    }
};
</script>
