@import "./variables.scss";

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@import "../../../node_modules/bootstrap-vue/src/index.scss";
@import "../../../node_modules/vue-select/src/scss/vue-select.scss";

body {
    margin: 0;
    padding: 0;
}

.bg-transaprent {
    background: $transaprent;
}

footer {
    position: relative;
    color: $white;

    &:after {
        content: " ";
        display: block;
        width: 100%;
        background: $section-bg;
        position: absolute;
        height: 100%;
        top: 0;
        z-index: -1;
        border-top-left-radius: 500px;
        border-top-right-radius: 500px;
    }

    .nav-item {
        > a {
            color: white;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .email {
        outline: 0;
        box-shadow: none;
        border: 1px solid $border-input;
        border-right: 0;

        &:focus {
            outline: 0;
            box-shadow: none;
            border-color: $border-input;
            border-right: 0;
        }
    }

    .input-group-append {
        > div {
            height: 100%;
            width: 33px;
            padding: 2px;
            font-size: 20px;
            background: white;
            color: #3829c3;
            outline: none;
            position: absolute;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            border: 1px solid #ced4da;
            border-left: 0;
        }
    }
}

.btn-white {
    background: $white;
    color: $blue;
}

.bg-blue {
    background: $blue;
    color: $white;
}

.static-block {
    height: $static-block-heigh;
}

.stat-item {
    > p {
        margin-bottom: 0;

        &:first-child {
            font-size: 1.2rem;
        }
    }
}

legend.required:after {
    content: " * ";
    font-weight: bold;
    font-size: 1.1rem;
    color: $blue;
}

.brand-logo {
    height: 40px;
}

.style-chooser {
    background: $white;

    &:focus {
        color: #495057;
        border-color: #8f86e6;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(56, 41, 195, 0.25);
    }

    .vs__search {
        color: #495057;
    }

    .vs__search::placeholder,
    .vs__dropdown-toggle {
        height: calc(2.5em + 2px);
    }

    .col-form-label {
        font-weight: bold;
    }

    &.is-invalid {
        .vs__dropdown-toggle {
            border-color: #e3342f;
        }
    }
}

.custom-card {
    padding: 1rem 1.5rem 3rem 1.5rem;
    box-shadow: 1px 1px 4px 1px $shadow-color;
    border-radius: 12px;
    border: none;
    margin-bottom: 10px;
    min-height: 360px;

    &.active {
        background: $blue;
        color: $white;
        box-shadow: none;

        a {
            color: $white;
        }
    }

    .icon {
        margin: 10px 0;
    }
}

.first-section-bg {
    &:before {
        content: " ";
        display: block;
        width: 50%;
        background: url(/images/bg-header.jpg);
        background-size: cover;
        position: absolute;
        height: 60%;
        top: 0;
        right: 0;
        z-index: -1;
        border-bottom-left-radius: 500px;
        background-repeat: no-repeat;

        @media (max-width: 768px) {
            background-position: 80% center;
            background-size: cover;
        }
    }
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    text-shadow: 1px 1px #444;

    > a {
        color: white;
    }

    &:focus {
        text-shadow: 1px 1px #EEE;
    }

    &:hover {
        color: white;
        text-shadow: 1px 1px #AAA;
        text-decoration: underline;
    }
}

.btn-social {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;

    &.instagram {
        > img {
            padding: 6px;
            margin-bottom: 3px;
        }
    }

    &:focus,
    &:hover,
    &:active {
        border: 0;
        outline: 0;
    }

    > img {
        width: 50px;
        height: 50px;
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

@media (max-width: 768px) {
    .lead-text {
        font-size: 1.6rem;
    }

    .first-section-body {
        width: 50%;
    }

    .input-group {
        width: 88%;
    }

    .navbar-custom .navbar-nav .nav-link {
        color: $blue;
        text-shadow: none;

        > a {
            color: $blue;
        }
    }
}

.vue-notification {
    padding: 10px;
    margin: 0 5px 5px;

    font-size: 12px;

    color: #ffffff;
    background: #44a4fc;
    border-left: 5px solid #187fe7;

    &.warn {
        background: #ffb648;
        border-left-color: #f48a06;
    }

    &.error {
        background: #e54d42;
        border-left-color: #b82e24;
    }

    &.success {
        background: #68cd86;
        border-left-color: #42a85f;
    }
}

.btn-with-out-style {
    width: auto;
    height: auto;
    background: none;
    border: none;
    outline: none;

    &:focus,
    &:active,
    &:hover {
        width: auto;
        border: none;
        outline: none;
    }
}

textarea {
    overflow: hidden !important;
}

.social-row {
    margin-top: -50px;

    @media (max-width: 768px) {
        margin-top: 10px;
    }
}

.navbar-light {
    .navbar-toggler {
        border: none;

        &:focus,
        &:hover {
            border: none;
            outline: none;
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255 255 255 / 50)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

        &:focus,
        &:hover {
            border: none;
            outline: none;
        }
    }
}
