// Body
$body-bg: #f8fafc;
$section-bg: #828b8f;
$white: white;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3829c3;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$transaprent: transparent;
$shadow-color: #9e9e9e40;
$placeholder-color: #8e8e8e;

$border-input: #ced4da;

$static-block-heigh: 400px;

$theme-colors: (
    "primary": $blue
);
